registry=https://registry.npmjs.org/
strict-ssl=true
audit=false
fund=false
progress=false
legacy-peer-deps=true
package-lock=false
fetch-retries=1
fetch-retry-mintimeout=1000
fetch-retry-maxtimeout=5000
